* {
  box-sizing: border-box; 
}
body {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu {
  background: cornflowerblue;
}
.content {
  display: flex;
  flex-direction: row;
  background: darkgray;
}

header {
  background: yellowgreen;  
  justify-self: center;
  justify-items: center;
}

footer {
  background: crimson;
  height: 20vh;
}
header, footer, article, nav {
  padding: 1em;
}
