* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  background: darkgray;
}

.content--main {
  min-height: 20rem;
  padding: 1rem 1rem 1rem 2rem;
}

.menu {
  width: 18rem;
  height: 100%;
  background: cornflowerblue;
}

.menu li {
  list-style: none;
}
.menu ul {
  padding: 1rem;
  margin: 0;
}

.titre-app {
  color: black;
  font-size: bold;
}

.titre-principal {
  color: coral;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.configuration {
  padding: 1rem;
  background-color: antiquewhite;
}

.configuration li {
  list-style: none;
}

.configuration--nom {
  padding: 1rem;
  color: black;
}

.configuration--valeur {
  padding: 1rem;
  color: brown;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  background: yellowgreen;
}

footer {
  display: flex;
  justify-content: center;
  background: crimson;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer li {
  padding: 0.3rem;
  list-style: none;
}

header,
footer,
article,
nav {
  padding: 1em;
}
